/* Global Styles */
html {
  min-height: 100vh
}
body {
  height: 100vh;
  background: linear-gradient(to right bottom, #888, #32CD32);
  display: flex;
  flex-direction: column;
  height: 100%;
}

footer {
  padding-top: 2rem;
  padding-bottom: 1rem;
  flex-basis: auto;
  flex-shrink: 0;
  flex-grow: 0;
  align-content: center;
  justify-content: center;
}

.footer-text {
  text-align: center;
}

.border {
  border-radius: 1.25rem;
}

.circle-border {
  border: 1px solid #000;
  border-radius: 50%;
}
.btn {
  width: 100px;
  padding: 10px;
  text-align: center;
  background: #fff;
}
.table-delete-btn {
  cursor: pointer;
}
.btn:hover {
  cursor: pointer;
}
.grow {
  transition: all 0.2s ease-in-out;
}
.grow:hover {
  transform: scale(1.1);
}
h1,h2,h3,h4,h5,h6 {
  font-family: 'Proza Libre', sans-serif;
}
a, p, input[type="text"],::placeholder, table > tbody >tr {
  font-family: 'Monteserrat', sans-serif;
  font-weight: 200;
}
a {
  text-decoration: underline;
}
a:hover {
  cursor: pointer;
}

.disabled-text {
  -webkit-user-select: none; /* For Safari */
  -moz-user-select: none; /* For Firefox */
  -ms-user-select: none; /* For Internet Explorer/Edge */
  user-select: none;
}
.display-none {
display: none;
}
.display-block {
  display: block;
}
/* *********************************************************************************************************** */
/* Header Styles */
header {
  width: 100%;
}

.nav {
  display: flex;
  justify-content: space-around;
  padding-top: 10px;
}



.user-input-task {
  height: 2.5rem;
  margin-top: 1.5rem;
  width: 350px;
  padding-left: 0.5rem;
  background: #fff;
}


.save-task-button:hover {
  cursor: pointer;
}

.title {
  padding-left: 0px;
  font-size: 1.25rem;
  font-weight: 700;
  margin-left: 0px;
}
.links {
  display: flex;
}
.links > button:hover {
  cursor: pointer;
}

.sign-in {
  margin-right: 15px;
}
.sign-up {
 margin-right: 15px;
}
/* *********************************************************************************************************** */
/* Section Styling*/
section {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}

.circle1, .circle2 {
  background: white;
  background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.1));
  height: 15rem;
  width: 15rem;
  position: absolute;
  border-radius: 50%;
  z-index: -1;
}
.circle1 {
  top: 23%;
  right: 20%;
}
.circle2 {
  bottom: 5%;
  left: 18%;
}

.card-container {
  justify-content: center;
  align-items: center;
}

.card {
  height: 200px;
  width: 225px;
  z-index: 2;
}
.card-title {
  padding-top: 15px;
  text-align: center;
  font-weight: 300;
  font-size: 1.75rem;
}
.input-container {
  display: flex;
  justify-content: center;
  margin-top: 45px;
}

.total {
  text-align: center;
  width: 60px;
  height: 40px;
  font-size: 1.75rem;
}
.plus-btn {
  margin-right: 15px;

}
.minus-btn {
  margin-left: 15px;
}

.btn-container {
  margin-top: 25px;
  margin-bottom: 10px;
  align-items: center;
  justify-content: center;
}
.buttons {
  display: flex;
  justify-content: center;
  gap: 1rem;
}
/* *********************************************************************************************************** */
/* Table Section */
.table-container {
  margin-top: 25px;
  padding: 1rem;
}
table {
  background: #D3D3D3;
  margin: auto;
}
th, td, caption {
  padding: 0.75rem;
  text-align: center;
}
caption {
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;
}

th {
  background:rgba(255, 255, 255, 0.1);
}

tr:nth-of-type(2n) {
  background: rgba(255, 255, 255, 0.3);
}
/* *********************************************************************************************************** */
/* Modal */
.glass {
  background: white;
  background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.3));
}
.auth-section {
  display: flex;
  justify-content: center;
}
.signIn-container, .signUp-container{
  width: 25rem;
  height: 20rem;
  background-color: #D3D3D3;
}
.close-modal {
  margin-top: .5rem;
  margin-right: .5rem;
  width: 40px;
  height: 40px;
  padding-left: 15px;
  background: #fff;
  z-index: 2;
}
form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form-header {
  height: 65px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.form-header > h2 {
  margin-left: .5rem;
}
form > input {
  height: 2rem;
  margin-top: 1rem;
  width: 75%;
  padding-left: 0.5rem;
  background: #fff;
}
.forgot-password {
  margin-top: .5rem;
  margin-left: 40%;
}
.form-btn-container {
  height: 65px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}
.form-btn-container > button {
  background: #fff;
}
.reset-btn {
  width: 150px !important;
}
.signIn-form-footer {
  width: 100%;
  padding-top: 1.5rem;
  text-align: center;
}
.signIn-form-footer {
  width: 100%;
  text-align: center;
}

/* *********************************************************************************************************** */
/* Media Queries For Responsiveness */
@media (max-width: 777px) {
  .title {
    font-size: 2rem;
    margin-top: 26px
  }
 .user-input-task {
  width: 250px;
  margin-right: 10px;
 }
  .card {
    margin-bottom: 10px;
  }
  .signIn-container, .signUp-container, .forgot-password-container {
    width: 18rem;
  }
}
@media (min-width: 778px) {
  .card-container {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
  }
  .card {
    margin: 0 10px;
  }
  .sign-up {
    margin-right: 30px;
  }
  .title {
    padding-left: 15px;
    padding-top: 25px;
    font-size: 2rem;
    font-weight: 700;
  }
  .links {
    padding-top: 20px;
    padding-right: 30px;
  }
}